body{
    background-color:rgb(241, 217, 188)
}

h1{
    font-style:inherit
    font size 11px;
    background-color: aliceblue;
    
}
img{
    margin: auto;
    width: 300%
    padding 2em;
}
